.formControl {
    margin-top: 10px;
    height: fit-content;
}

.inputGroup {
    margin: 30px 20px 0 20px ;
    height: fit-content;
    width: 50%;
    min-width: 200px;
}



@media (max-width: 500px) {
    .inputGroup {
        width: 85%;
    }  
  }